.card {
    min-width: 200px;
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 200px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 2rem;
    height: auto;
    background-color: var(--color-light);
    -webkit-box-shadow: -2px 8px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 8px 12px 0px rgba(0,0,0,0.75);
box-shadow: -2px 8px 12px 0px rgba(0,0,0,0.75);
}

.card__header {
    width: 100%;
    height: auto;
    max-height: 70px;
    background-color: var(--color-primary);
    padding: 0.7rem;
    color: var(--font-white);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    -webkit-box-shadow: -2px 8px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 8px 12px 0px rgba(0,0,0,0.75);
box-shadow: -2px 8px 12px 0px rgba(0,0,0,0.75);
}



.card__title {
    font-size: 1rem;
}

.card__list{
    padding: 1.5rem;
}

.card__list li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.card__list p {
    font-size: 0.9rem;
}