.galery__container{
    text-align: center;
}

.galery__container h2{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 80px;
}


.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 60%;
  }

  .swiper-slide, .swiper-3d, .swiper-slide-visible, .swiper-slide-next, .swiper-slide-prev{
    border-radius: 30px;
  }
  
  .swiper-slide img {
    display: block;
    width: 27rem;
    height: 35rem;
    border-radius: 30px;
  }

  .swiper-pagination-bullet-active{
    background: var(--color-btm);
  }

  /* ==================== Meidia query (medium devices) ============================ */

@media screen and (max-width: 1024px) {
  .container.galery__container{
      width: 80%;
  }

  .swiper-slide img{
    width: 20rem;
    height: 27rem;
   }
}

/* ==================== Meidia query (small devices) ============================ */

@media screen and (max-width: 600px) {
   .container.galery__container{
      width: 100%;
   }

   .swiper-slide img{
    width: 13rem;
    height: 17rem;
   }
}