.about{
    min-width: 800px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    justify-items: center;
    align-items: center;

}

.about__picture{
    width: 70%;
   height: 80%;
   max-height: 500px;
   background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url("../../assets/acerca.jpg");
   background-size: contain;
   clip-path: polygon(75% 0%, 93% 50%, 75% 100%, 0% 100%, 16% 49%, 0% 0%);
}

.about__text{
    padding: 2rem;
}

.about__subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph{
    line-height: 1.7;
    margin-bottom: 25px;
}

/* ==================== Meidia query (medium devices) ============================ */

@media screen and (max-width: 800px) {

}